<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4 mb-4">Rails 5 Starter App with Bootstrap 4.</h1>
    <hr class="my-4">
    <p><strong>Includes:</strong> Rails 5, Bootstrap 4, and PostGreSQL (Heroku-ready)</p>
    <p><strong>Coming soon:</strong> Devise, SimpleForm, Flash Messages, and a few page layouts.</p>
    <a href="https://github.com/douglogue/jumpstart" class="btn btn-primary btn-lg mt-2">Clone on Github</a>
  </div>
</div>
